.notification {
  width: 24rem;
  border-radius: 6px;
  border-width: 2px;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  opacity: 0;
}
@keyframes example {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}