.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #0c2461;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 35%;
  left: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}